{
  "presets": [
    [
      "babel-preset-env",
      {
        "modules": false,
        "forceAllTransforms": true,
        "useBuiltIns": "entry"
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "babel-plugin-transform-es2015-destructuring",
    "babel-plugin-syntax-dynamic-import",
    [
      "babel-plugin-transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "babel-plugin-transform-class-properties",
      {
        "loose": true
      }
    ]
  ]
}