<h1>Applications#show</h1>
<p>Find me in app/views/applications/show.html.erb</p>

<%= form_with(model: @applications, local: true) do |form| %>
  <%= react_component("ApplicationViewWrapper", props={ id: @application.id, mode: "landlord", tenantProps: @tenantProps, raProps: @raProps, buttonProps: @buttonProps }) %>
<% end %>