<h1>Edit Property</h1>

<%= form_with(model: @property, local: true) do |form| %>
  <%= react_component("individual/ProfileFormProperties", props={property: @property, current_userID: @current_userID, categories: @categories }) %>
<% end %>
