<h1>Properties#edit</h1>
<p>Find me in app/views/properties/edit.html.erb</p>

<%= form_with(model: @property, local: true) do |form| %>
  <%= react_component("ProfileForm", props={ property: @property, mode: @mode, type: @type, fieldNames: @field_names, fieldTypes: @field_types }) %>
<% end %>

