<h1>Create New Property</h1>

<%= react_component("individual/ProfileForm", props={ id: @property.id, mode: @mode, type: @type, fieldNames: @field_names, fieldTypes: @field_types, niceFieldNames: @nice_field_names, prevValues: @prev_values, current_userID: @current_userID }) %>
<% end %>
