<h1>Properties#new</h1>
<p>Find me in app/views/properties/new.html.erb</p>

<%= form_with(model: @property, local: true) do |form| %>
  <%= react_component("ProfileForm", props={ mode: @mode, type: @type, fieldNames: @field_names, fieldTypes: @field_types, prevValues: @prev_values }) %>
<% end %>
