<h1>ReferralAgencies#show</h1>
<p>Find me in app/views/referral_agencies/show.html.erb</p>
<%= react_component("RAHomeView", {properties: @properties, tenants: @tenants}) %>
<div>
  <h3><%= @referral_agency.name %></h3>
  <p> Tenant IDs: </p>
  <% @tenants.each do |tenant| %>
	<p><%= tenant.id %></p>
  <% end %>
</div>
