<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @application.property.landlord.email %></h1>
    <p>
      This is an email to notify you of a new application for your property at <%= @application.property.id %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>