.checkbox {
  top: 35%;
  left: 5%;
  position: absolute;
}

.complete-app-btn {
  position: absolute;
  top: -150px;
  left: 500px;
}

.property-list-wrapper-header {
  display: inline-block;
}

.property-list-wrapper-start-app-btn {
  display: inline-block;
  margin-left: 550px;
  position: absolute;
  top: 90px;
}
