.checkbox {
  top: 35%;
  left: 5%;
  position: absolute;
}

.complete-app-btn {
  position: absolute;
  top: -150px;
  left: 500px;
}

.property-list-wrapper-header {
  display: inline-block;
}

.property-list-wrapper-start-app-btn {
  display: inline-block;
  margin-left: 550px;
  position: absolute;
  top: 90px;
}

#prop-list-info-icon-wrapper {
  display: inline-block;
  position: relative;
  top: 90px;
  left: -700px;
}

#submission-info-icon-wrapper {
  display: inline-block;
  position: relative;
  top: 0px;
  left: -700px;
}

#prop-list-info-icon {
  margin-left: 40px;
  font-size: 24px;
}

#submission-info-icon {
  margin-left: 40px;
  font-size: 24px;
}

.submission-title {
  margin-left: 90px;
  margin-top: 40px;
  display: inline-block;
}

.app-submission-btns {
  display: inline-block;
  margin-left: 16px;
  float: right;
}

.app-submission-btns-wrapper {
  margin-left: 24px;
  margin-top: 40px;
  display: inline-block;
}

#prop-list-info-dialogue {
  position: absolute;
  margin-top: 60px;
  margin-left: -140px;
  background-color: white;
  z-index: 10;
  width: 160px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

#submission-info-dialogue {
  position: absolute;
  margin-top: -50px;
  margin-left: -140px;
  background-color: white;
  z-index: 10;
  width: 160px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.application-info-dialogue-text {
  font-size: 12px;
  line-height: 16px;
}
