.container {
  width: 650px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.buttons {
  align-self: flex-end;
  float: right;
  width: 330px;
  display: flex;
  flex-direction: row;
}

.previous {
  width: 150px;
}
.next {
  margin-left: 30px;
  width: 150px;

}
