.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  margin-bottom: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
  align-self: flex-end;
  float: right;
  width: 330px;
  display: flex;
  flex-direction: row;
}

.previous {
  width: 150px;
}
.next {
  margin-left: 30px;
  width: 150px;
}

.delete-client {
  display: flex;
  margin-bottom: 30px;
}

.delete-button {
  width: 330px;
  align-self: flex-end;
  float: right;
  display: flex;
  flex-direction: row;
}

.dropzone {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed $gray;
  cursor: pointer;
}
