.filters-bar {
  display: flex;
  justify-content: space-evenly;
  width: 570px;
  margin-top: 80px;
  margin-bottom: 10px;
}

.buttons-panel {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	background-color: white !important;
}

.options {
	z-index: 1000;
	background-color: white;
  padding: 20px;
  padding-bottom: 0px;
}

.ant-checkbox-group {  
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
}

.ant-dropdown-link {
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-bottom: 22px;
	padding: 7px; 
}

.guests {
	margin-left: 10px;
}
