.modal-h1 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 8px;
  margin-top: 24px;
}

.title1 {
  text-transform: uppercase;
  color: rgba(0,0,0,0.5);
  font-size: 10px;
  margin-bottom: 4px;
}

.text1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 24px;
}

.flex-container {
  padding: 0;
  margin-top: -24px;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 400px;
}

.flex-item:not(:last-child) {
  margin-right: 32px;
}

.section:not(:last-child) {
  border-bottom: 1px solid #D9D9D9;
}

.section:last-child {
  border-bottom: 0px solid #D9D9D9;
}

.subsection {
  margin-left: 32px;
}

.icon {
  font-size: 16px;
  margin: 6px;
}

.right {
  display: inline-block;
  float: right;
  width: 50%
}

.left {
  display: inline-block;
  float: left;
  width: 50%
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
