.tenant-modal {
  height: 660px;
}

.modal-content {
  display: flex;
  flex-direction: row;
  padding-left: 98px;
  padding-right: 98px;
  padding-top: 70px;

}

.modal-avatar {
  border-radius: 4px 4px 4px 4px;
}

.basic-info {
  width: 33%;

}

.detailed-info {
  padding-left: 20px;

}
