.tenant-modal {
  height: 660px;
}

.modal-content {
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
}

.modal-avatar {
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 32px;
}

.basic-info {
  width: 33%;
}

.detailed-info {
  padding-left: 42px;
}

.modal-subsection {
  margin-bottom: 24px;
}

/* scrollable description */
.description-container {
  margin-bottom: 24px;
  width: 530px;
  height: 84px;
  overflow: scroll;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
}


.table-container {
  border-top: 1px solid #D9D9D9;
}

.table {
  padding-top: 42px;
}

.h3-margins {
  margin-bottom: 16px;
  margin-top: 20px;
}

.tenant-description-box {
  height: 40px;
  width: 180px;
  resize: none;
}

.tenant-description-no-form {
  margin-bottom: 200px;
}

.tenant-form-download-container {
  margin-top: 20px;
  margin-bottom: 26px;
}

.tenant-form-download {
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  height: 55px;
  width: 500px;
  margin-top: 16px;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.tenant-form-link {
  display: inline-block;
}

.tenant-form-icon {
  float: right;
  display: inline-block;
  font-size: 20px;
}

.upload-form-container {
  border-top: 1px solid #D9D9D9;
}

.upload-details {
  margin-top: 24px;
}

.upload-button {
  margin-top: 16px;
}

.submit-button-container {
  float: right;
  padding-top: 52px;
}

.no-forms {
  width: 504px;
  height: 70px;
}

.submit-error-message {
  color: red;
}
